pipecat
langgraph
langchain-core
langchain
langchain-openai


sqlalchemy[asyncio]
psycopg2-binary

httpx
pyyaml
loguru
pydantic
pydantic-settings
python-dotenv

fastapi
uvicorn

streamlit
streamlit-chat

pytest
pytest-asyncioq
